<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Artículo X</title>

    <link href="../static/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/css/style.css" rel="stylesheet">
    <script type="text/javascript">
    	
    	function displayComments() {
    		if (document.getElementById("comments").style.display == "none") {
    			document.getElementById("comments").style.display = "inline";
    		} else {
    			document.getElementById("comments").style.display = "none";
    		}
    	}

    </script>

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand active" href="inicio">Inicio</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="create">Crear Artículo</a>
						</li>
						<li>
							<a href="#">Artículos por Publicar</a>
						</li>
						<li>
							<a href="#">Artículos Favoritos</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Perfil</a>
						</li>
						<li>
							<a href="logout">Cerrar Sesión</a>
						</li>
					</ul>

					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Búsqueda">
						</div> 
						<button type="submit" class="btn btn-default">
							Buscar
						</button>

					</form>
					
				</div>
				
			</nav>
			<div class="row content">
	  			<div class="col-sm-12">
					<div id="logo" >
						<a href="inicio"><img src="../static/imagenes/logo.png" width="40%" class="img-responsive center-block"></a>
					</div>
				</div>
			</div>
			<h1 class="text-center">
				Dura opción de los narcosobrinos: Larga cárcel o cooperar
			</h1>
			<div class="row" style="text-align: justify;">
				<div class="col-md-12"></br>
					<div class="media text-center" style=" float: left;">
						 <a href="#" class="pull-left"><img alt="Bootstrap Media Preview" src="http://lorempixel.com/500/240/" class="media-object center-block"></a>
					</div></br>
					<a href="#"><img src="../static/imagenes/facebook_logo.png" width="30px" height="30px"></a>
					<a href="#"><img src="../static/imagenes/twitter_logo.png" width="30px" height="30px"></a>
					<a href="#"><img src="../static/imagenes/google_logo.png" width="30px" height="30px"></a>
					</br></br>
					<strong>Autor:</strong> Franco Ordoñez</br>
					<strong>Editores:</strong> Alvarez, Rodriguez</br>
					<strong>Fecha de Publicación:</strong> 22/11/2016</br>
					<strong>Resumen:</strong> Los sobrinos del presidente de Venezuela enfrentan de 20 a 30 años en la cárcel, según expertos, por planes de entrar de contrabando a Estados Unidos 800 kilogramos de cocaína, publica El Nuevo Herald.</br>
					<p>
						</br>Ahora que han sido declarados culpables, ellos no cuentan con muchas opciones para reducir sus sentencias. Pero una manera en que podrían recortar sus condenas de cárcel, sería la cooperación con funcionarios de EEUU que están impacientes por obtener más información sobre los mecanismos internos del narcotráfico a través de Venezuela y en toda la región. </br></br>

						Efraín Campo, de 30 años, y Francisco Flores, de 31, sobrinos del presidente venezolano Nicolás Maduro y su esposa, Cilia Flores, fueron declarados culpables el viernes pasado de planear el contrabando de cocaína del hangar presidencial en el aeropuerto de Caracas a Honduras para enviarlo a Estados Unidos. La sentencia mínima es de 10 años, pero ellos enfrentan condenas mucho más largas, debido a la gran cantidad de drogas involucradas. </br></br>

						Ellos tienen cuatro meses antes de su audiencia de sentencia. Sus abogados han presentado mociones para revocar el veredicto alegando que la evidencia es insuficiente. De no conseguirlo, ellos litigarán hasta conseguir la sentencia más baja posible. </br></br>

						Cooperar podría ser la mejor de sus opciones, aun cuando sea algo distante. </br></br>

						Por lo general, el fiscal federal del Distrito Sur de Nueva York, o cualquier otro fiscal federal, no permite que los acusados cooperen después de haber ido a juicio, pero ellos pueden hacer una excepción en un caso tan célebre, y también gracias a la naturaleza explosiva de la información que podrían tener Campo y Flores para implicar a otros miembros de su familia u otros altos funcionarios venezolanos. </br></br>

						“Por supuesto que ellos pueden arrojar luz entre los lazos de lo que estaban haciendo y los funcionarios más altos “, dijo Brian Fonseca, director del Instituto Gordon de Política Pública en la Universidad Internacional de la Florida. “La pregunta es si ellos revelarán esa información o no por no poner en peligro a su familia en Venezuela, por razones de lealtad o por lo que sea”. </br></br>
					</p>
					<button class="btn btn-primary" type="button" id="viewComments" onclick="displayComments();">
						<em class="glyphicon glyphicon-plus"></em> Ver Comentarios
					</button> </br></br>
					<div id="comments" style="display: none;">
						<blockquote>
							<p>
								se pondra al descubierto la banda "la periquera".
							</p> <small>Rafael Rodriguez Cedeño </small>
						</blockquote>
						<blockquote>
							<p>
								Que se pudran en la carcel esos malditos
							</p> <small>Angel Fratello </small>
						</blockquote>
						<blockquote>
							<p>
								A CANTAR PAJARITOS, ¡ , DIOSDADO, PEDRO CARREÑO, REVEROL,RANGEL SILVA, TAREK ALSAIMI, TEMBLAD ¡ ESTOS NARCOS SOBRINOS, NO COMERAN PAN DE JAMON, HALLACA, ENSALADA DE GALLINA NI WHISKY 18 AÑOS, POR LOS PROXIMOS 30 AÑOS ¡ HOHOHOHOHOHOHOHOH ¡
							</p> <small>Mark Smith</cite></small>
						</blockquote>
					</div>
					<strong>Comentar:</strong>
					<form class="form-signin" action="comment" method="POST">
						<textarea style="width:100%; resize: none;" name="content" autocomplete="off"></textarea></br></br>
						<button class="btn btn-primary" type="submit" style="float: right;">Enviar</button></br></br>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

    <script src="../static/vendor/js/jquery.min.js"></script>
    <script src="../static/vendor/js/bootstrap.min.js"></script>
    <script src="../static/vendor/js/scripts.js"></script>
  </body>
</html>