<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daily Planet - {{titulo}}</title>
    <link rel='shortcut icon' type='image/x-icon' href='../static/imagenes/favicon.ico'/>

    <link href="../static/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/css/style.css" rel="stylesheet">
    <script type="text/javascript">
    	
    	function displayComments() {
    		if (document.getElementById("comments").style.display == "none") {
    			document.getElementById("comments").style.display = "inline";
    		} else {
    			document.getElementById("comments").style.display = "none";
    		}
    	}

    </script>

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">

		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand active" href="inicio">Inicio</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% if isReader == "false" %}
							<li>
								<a href="create">Crear Artículo</a>
							</li>
							<li>
								<a href="draft">Artículos por Publicar</a>
							</li>
						{% endif %}
						<li>
							<a href="favorites">Artículos Favoritos</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="profile">Perfil</a>
						</li>
						<li>
							<a href="logout">Cerrar Sesión</a>
						</li>
					</ul>

					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Búsqueda">
						</div> 
						<button type="submit" class="btn btn-default">
							Buscar
						</button>

					</form>
					
				</div>
				
			</nav>
			<div class="row content">
	  			<div class="col-sm-12">
					<div id="logo" >
						<a href="inicio"><img src="../static/imagenes/logo.png" width="40%" class="img-responsive center-block"></a>
					</div>
				</div>
			</div>
			<h1 class="text-center">
				{{titulo}}
			</h1>
			<div class="row" style="text-align: justify;">
				<div class="col-md-12"></br>
					<div class="media text-center" style=" float: left;">
						 <a href="#" class="pull-left"><img src="../static/imagenes/{{imagen}}" style="max-height: 240px; max-width: 500px" class="media-object center-block"></a>
					</div></br>
					<a href="#"><img src="../static/imagenes/facebook_logo.png" width="30px" height="30px"></a>
					<a href="#"><img src="../static/imagenes/twitter_logo.png" width="30px" height="30px"></a>
					<a href="#"><img src="../static/imagenes/google_logo.png" width="30px" height="30px"></a>
					{% if isFavorite == "false" %}
						<a href="addFavorite?id={{id_article}}"><button class="btn btn-success">Añadir a Favoritos</button></a>
					{% else %}
						<a href="removeFavorite?id={{id_article}}"><button class="btn btn-danger">Eliminar de Favoritos</button></a>
					{% endif %}	
					</br></br>
					<strong>Autor:</strong> {{nombre}}</br>
					<strong>Editores:</strong> {{editores}}</br>
					<strong>Fecha de Publicación:</strong> {{fecha}}</br>
					<strong>Palabras clave:</strong> {{clave}}</br>
					<strong>Resumen:</strong> <pre>{{resumen}}</pre></br>
					<p>
						<pre>{{contenido}}</pre>
					</p>
					<button class="btn btn-primary" type="button" id="viewComments" onclick="displayComments();">
						<em class="glyphicon glyphicon-plus"></em> Ver Comentarios
					</button> </br></br>
					<div id="comments" style="display: none;"></div>
					<strong>Comentar:</strong>
					<form class="form-signin" action="comment?id={{id_article}}" method="POST">
						<textarea style="width:100%; resize: none;" name="content" autocomplete="off"></textarea></br></br>
						<button class="btn btn-primary" type="submit" style="float: right;">Enviar</button></br></br>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

    <script src="../static/vendor/js/jquery.min.js"></script>
    <script src="../static/vendor/js/bootstrap.min.js"></script>
    <script src="../static/vendor/js/scripts.js"></script>
    <script type="text/javascript">

        var someJavaScriptVar = '{{ allComents }}';
        someJavaScriptVar = someJavaScriptVar.replace(/&#34;/g, '"');
        someJavaScriptVar = someJavaScriptVar.replace(/\n/g, "\\\\n").replace(/\r/g, "\\\\r").replace(/\t/g, "\\\\t");
        var JSON = JSON.parse(someJavaScriptVar);
		var i = 0;
		if (JSON.length == 0) {

			var comments = document.getElementById('comments');
			comments.innerHTML = comments.innerHTML + '<p style="margin-left:1%"><strong>No se han publicado comentarios.</strong></p></br>';

		} else {

			for (i = 0; i<JSON.length; i++) {

				var contenido = JSON[i].contenido;
				contenido = contenido.replace(/\\r\\n/g, "<br/>");
				var nombre = JSON[i].nombre;
				var fecha = JSON[i].fecha;
				var imagen = JSON[i].avatar;
				var comments = document.getElementById('comments');
				comments.innerHTML = comments.innerHTML + '<blockquote><p>' + contenido + '</p><img src="../static/imagenes/'+imagen+'" style="max-height: 32px; max-width: 32px; float: left; margin-right: 10px" class="media-object"><small>' + nombre + ' - ' + fecha + '</small></blockquote>';     

			}

		}

    </script>
  </body>
</html>