<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daily Planet - Artículos de Hoy</title>
    <link rel='shortcut icon' type='image/x-icon' href='../static/imagenes/favicon.ico'/>

    <link href="../static/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="../static/vendor/css/jquery-ui.css"/>

  </head>
  <body>

    <div class="container-fluid">
		<div class="row">

			<div class="modal fade" id="modal-registrar" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel" style="text-align: center;">
								Registrar
							</h4>
						</div>
						<div class="modal-body">							
							<form role="form" action="register" method="POST" enctype="multipart/form-data">
								<div class="form-group">									 
									<label for="exampleInputEmail1">
										Nombre
									</label>
									<input class="form-control" name="nombre" type="text" required="true" autocomplete="off"/>
								</div>
								<div class="form-group">									 
									<label for="exampleInputEmail1">
										Apellido
									</label>
									<input class="form-control" name="apellido" type="text" required="true" autocomplete="off"/>
								</div>
								<div class="form-group">									 
									<label for="exampleInputEmail1">
										Correo
									</label>
									<input class="form-control" name="correo" type="email" required="true" autocomplete="off"/>
								</div>
								<div class="form-group">									 
									<label for="exampleInputEmail1">
										Fecha de Nacimiento
									</label>
					                <input type='text' id="date" name="fechaNac" class="form-control" required="true" autocomplete="off"/>
								</div>				
								<div class="form-group">									 
									<label for="exampleInputFile">
										Avatar
									</label>
									<input name="avatar" type="file" required="true" autocomplete="off"/>
								</div>
								<div class="form-group">									 
									<label for="exampleInputEmail1">
										País
									</label>
									<select class="form-control" name="pais" autocomplete="off"/>
										<option>Argentina</option>
										<option>Bolivia</option>
										<option>Brasil</option>
										<option>Chile</option>
										<option>Colombia</option>
										<option>Ecuador</option>
										<option>España</option>
										<option>Estados Unidos</option>
										<option>Francia</option>
										<option>Paraguay</option>
										<option>Peru</option>
										<option>Portugal</option>
										<option>Uruguay</option>
										<option>Venezuela</option>
										<option>Otro</option>
									</select>
								</div>
								<div class="form-group">									 
									<label for="exampleInputEmail1">
										Tipo de Usuario
									</label>
									<select class="form-control" name="tipo" autocomplete="off"/>
										<option>Lector</option>
										<option>Editor</option>
										<option>Autor</option>
									</select>
								</div>
								<div class="form-group">									 
									<label for="exampleInputEmail1">
										Descripción
									</label>
									<textarea class="form-control" name="descripcion" required="true" autocomplete="off"/></textarea>
								</div>
								<div class="form-group">									 
									<label for="exampleInputPassword1">
										Contraseña
									</label>
									<input class="form-control" name="password1" type="password" required="true" autocomplete="off" oninput="password2.pattern = escapeRegExp(this.value)"/>
								</div>
								<div class="form-group">									 
									<label for="exampleInputPassword1">
										Repita Contraseña
									</label>
									<input class="form-control" name="password2" type="password" required="true" autocomplete="off" pattern="" title="Las contraseñas deben coincidir"/>
								</div>
								<div style="text-align: center;">
									<div class="checkbox">									 
										<label>
											<input type="checkbox" required="true" autocomplete="off"/> He leído y acepto los <a href="#">Términos y Condiciones</a>
										</label>
									</div>
								</div> 
								<div class="modal-footer" style="text-align: center;">							 
									<button type="submit" class="btn btn-primary">
										Aceptar
									</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">
										Cancelar
									</button> 
								</div>
								
							</form>
						</div>
					</div>
					
				</div>
				
			</div>

			<div class="modal fade" id="modal-iniciar" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel" style="text-align: center;">
								Iniciar Sesión
							</h4>
						</div>
						<div class="modal-body">							
							<form class="form-signin" action="login" method="POST">
								<div class="form-group">									 
									<label for="exampleInputEmail1">
										Correo
									</label>
									<input class="form-control" id="exampleInputEmail1" name="email" type="email" required="true" autocomplete="off"/>
								</div>
								<div class="form-group">									 
									<label for="exampleInputPassword1">
										Contraseña
									</label>
									<input class="form-control" id="exampleInputPassword1" name="pass" required="true" type="password" autocomplete="off"/>
								</div>
								<div class="modal-footer" style="text-align: center;">							 
									<button type="submit" class="btn btn-primary">
										Iniciar Sesión
									</button>
								</div>
								
							</form>
						</div>
					</div>
					
				</div>
				
			</div>

			{% if reg %}

				<div class="modal fade" id="modal-reg-exitoso" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								 
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									×
								</button>
								<h4 class="modal-title" id="myModalLabel" style="text-align: center;">
									Registro Exitoso
								</h4>
							</div>
							<div class="modal-body">	
								<p style="text-align: center;">Registro exitoso. Por favor ingrese con sus credenciales desde Iniciar Sesión.</p>
								<div class="modal-footer" style="text-align: center;">							 
									<button type="button" class="btn btn-primary" data-dismiss="modal">
										Aceptar
									</button>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>

			{% endif %}

			{% if error %}

				<div class="modal fade" id="modal-inicio-no-exitoso" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								 
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									×
								</button>
								<h4 class="modal-title" id="myModalLabel" style="text-align: center;">
									Datos Inválidos
								</h4>
							</div>
							<div class="modal-body">	
								<p style="text-align: center;">Datos inválidos. Por favor inténtelo de nuevo.</p>
								<div class="modal-footer" style="text-align: center;">							 
									<button type="button" class="btn btn-primary" data-dismiss="modal">
										Aceptar
									</button>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>

			{% endif %}

			{% if error2 %}

				<div class="modal fade" id="modal-reg-exitoso" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								 
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									×
								</button>
								<h4 class="modal-title" id="myModalLabel" style="text-align: center;">
									Datos Inválidos
								</h4>
							</div>
							<div class="modal-body">	
								<p style="text-align: center;">La dirección de correo indicada ya está siendo utilizada por otro usuario. Por favor inténtelo de nuevo.</p>
								<div class="modal-footer" style="text-align: center;">							 
									<button type="button" class="btn btn-primary" data-dismiss="modal">
										Aceptar
									</button>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>

			{% endif %}

			<div class="col-md-12">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						 
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button> <a class="navbar-brand active" href="/">Inicio</a>
					</div>
					
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="#modal-registrar" role="button" class="btn" data-toggle="modal">Registrar</a>
							</li>
							<li>
								<a href="#modal-iniciar" role="button" class="btn" data-toggle="modal">Iniciar Sesión</a>
							</li>
						</ul>
						
					</div>
					
				</nav>
				<div class="row content">
		  			<div class="col-sm-12">
						<div id="logo" >
							<a href="/"><img src="../static/imagenes/logo.png" width="40%" class="img-responsive center-block"></a>
						</div>
					</div>
				</div>
				<h1 class="text-center">
					Artículos de Hoy
				</h1>
				<div class="btn-group" style="float: right;">				 
					<button class="btn btn-default">
						Ordenar por
					</button> 
					<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Hora</a>
						</li>
						<li>
							<a href="#">Fecha</a>
						</li>
					</ul>
				</div>
				<div class="row">
					<div id="posts"></div>					
				</div>
				<div class="text-center">
					<ul  class="pagination">
						<li>
							<a href="#"><</a>
						</li>
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#">></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

    <script src="../static/vendor/js/jquery.min.js"></script>
    <script src="../static/vendor/js/jquery-ui.min.js"></script>    
    <script src="../static/vendor/js/bootstrap.min.js"></script>
    <script src="../static/vendor/js/scripts.js"></script>
    <script type="text/javascript">

        var someJavaScriptVar = '{{ todaysPosts }}';
        someJavaScriptVar = someJavaScriptVar.replace(/&#34;/g, '"');
        someJavaScriptVar = someJavaScriptVar.replace(/\n/g, "\\\\n").replace(/\r/g, "\\\\r").replace(/\t/g, "\\\\t");
        var JSON = JSON.parse(someJavaScriptVar);
		var i = 0;
		if (JSON.length == 0) {

			var posts = document.getElementById('posts');
			posts.innerHTML = posts.innerHTML + '<p style="margin-left:1%"><strong>No se han encontrado artículos publicados.</strong></p></br>';

		} else {

			for (i = 0; i<JSON.length; i++) {

				var id = JSON[i]._id.$oid;
				var titulo = JSON[i].titulo;
				var nombre = JSON[i].nombre;
				var fecha = JSON[i].fecha;
				var resumen = JSON[i].resumen;
				resumen = resumen.replace(/\\r\\n/g, "<br/>");
				var imagen = JSON[i].imagen;
				var posts = document.getElementById('posts');

				posts.innerHTML = posts.innerHTML + '<div class="col-md-10"></br></br>\
															<div class="media">\
																 <a href="#" class="pull-left"><img src="../static/imagenes/'+imagen+'" style="max-height: 128px; max-width: 128px" class="media-object"></a>\
																<div class="media-body">\
																	<h4 class="media-heading">\
																		<a href="articuloNS?id='+id+'">'+titulo+'</a>\
																	</h4>\
																	<h4 class="media-heading">\
																		'+nombre+'\
																	</h4>'+resumen+'\
																</div>\
															</div>\
														</div>\
														<div class="col-md-2"></br>\
															 <span class="label label-default">Fecha de Publicación: '+fecha+'</span></br></br>\
															 <span class="label label-default">Editores: Alvarez, Rodriguez</span>\
														</div>';   

			}

		}

    </script>
    <script type="text/javascript">   
		var getUrlParameter = function getUrlParameter(sParam) {
			var sPageURL = decodeURIComponent(window.location.search.substring(1)),
			    sURLVariables = sPageURL.split('&'),
			    sParameterName,
			    i;

			for (i = 0; i < sURLVariables.length; i++) {
			    sParameterName = sURLVariables[i].split('=');

			    if (sParameterName[0] === sParam) {
			        return sParameterName[1] === undefined ? true : sParameterName[1];
			    }
			}
		};

		function escapeRegExp(str) {
	    	return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
	    }

		$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '<Ant',
		nextText: 'Sig>',
		currentText: 'Hoy',
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
		$(function () {
            $('#date').datepicker();
            $('#modal-reg-exitoso').modal('toggle');
            $('#modal-inicio-no-exitoso').modal('toggle');
        });
    </script>
    <style type="text/css">
    	.ui-widget-content .ui-icon {
	    background-image: url("../static/imagenes/css_images_ui-icons_222222_256x240.png")      
	    !important;}
	    .ui-widget-header .ui-icon {
	    background-image: url("../static/imagenes/css_images_ui-icons_222222_256x240.png")   
	    !important;}

    </style>
  </body>
</html>