<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daily Planet - Crear Artículo</title>
    <link rel='shortcut icon' type='image/x-icon' href='../static/imagenes/favicon.ico'/>

    <link href="../static/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/css/css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="inicio">Inicio</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li  class="active">
							<a href="create">Crear Artículo</a>
						</li>
						<li>
							<a href="draft">Artículos por Publicar</a>
						</li>
						<li>
							<a href="favorites">Artículos Favoritos</a>
						</li>
						{% if isAuthor == "true" %}
							<li>
								<a href="myArticles">Artículos Publicados</a>
							</li>
						{% else %}
							<li>
								<a href="myArticles">Artículos Editados</a>
							</li>
						{% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="profile">Perfil</a>
						</li>
						<li>
							<a href="logout">Cerrar Sesión</a>
						</li>
					</ul>
					
					<form class="navbar-form navbar-right" role="search" action="search" method="POST">
						<div class="form-group">
							<input class="form-control" type="text" name="buscar" placeholder="Búsqueda">
						</div> 
						<button type="submit" class="btn btn-default">
							Buscar
						</button>

					</form>
					
				</div>
				
			</nav>
			<div class="row content">
	  			<div class="col-sm-12">
					<div id="logo" >
						<a href="inicio"><img src="../static/imagenes/logo.png" width="40%" class="img-responsive center-block"></a>
					</div>
				</div>
			</div>
			<h1 class="text-center">
				Crear Artículo<br>
			</h1>
			<div class="container">

				<div class="row">
	                <form class="form-signin" action="crear" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<label class="control-label col-sm-2" for="titulo">Título:</label>
								<input type="text" class="form-control" name="titulo"  placeholder="Título" required="true" autocomplete="off">
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="resumen">Resumen:</label>
								<textarea class="form-control" name="resumen" placeholder="Resumen" rows="3" required="true" autocomplete="off"></textarea>
						</div>
						<div class="form-group"></br>
							<label class="control-label col-sm-2" for="resumen">Imagen:</label>
								<!--img src="http://lorempixel.com/128/128/" class="media-object"-->
							<input type="file" name="pic" accept="image/*" required="true" autocomplete="off"><br>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="titulo">Palabras Clave:</label>
								<input type="text" class="form-control" name="clave" placeholder="Palabras Clave" required="true" autocomplete="off">
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="resumen">Contenido:</label>
								<textarea class="form-control" name="contenido" placeholder="Contenido" rows="6" required="true" autocomplete="off"></textarea>
						</div>

						<div class="text-center">
							<button type="submit" class="btn btn-success">Guardar</button>
				 			<a href="inicio"><button class="btn btn-danger">Cancelar</button></a>
				 		</div></br>
					</form>				
				</div>
            </div>
        </div>
	</div>
</div>

    <script src="../static/vendor/js/jquery.min.js"></script>
    <script src="../static/vendor/js/bootstrap.min.js"></script>
    <script src="../static/vendor/js/scripts.js"></script>
  </body>
</html>