<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Editar Perfil</title>

    <link href="../static/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="../static/vendor/css/jquery-ui.css"/>

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">

		{% if updated %}

			<div class="modal fade" id="modal-updated" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel" style="text-align: center;">
								Perfil Actualizado
							</h4>
						</div>
						<div class="modal-body">	
							<p style="text-align: center;">Perfil actualizado exitosamente.</p>
							<div class="modal-footer" style="text-align: center;">							 
								<button type="button" class="btn btn-primary" data-dismiss="modal">
									Aceptar
								</button>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>

		{% endif %}

		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="inicio">Inicio</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="create">Crear Artículo</a>
						</li>
						<li>
							<a href="draft">Artículos por Publicar</a>
						</li>
						<li>
							<a href="favorites">Artículos Favoritos</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="active">
							<a href="profile">Perfil</a>
						</li>
						<li>
							<a href="logout">Cerrar Sesión</a>
						</li>
					</ul>
					
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Búsqueda">
						</div> 
						<button type="submit" class="btn btn-default">
							Buscar
						</button>

					</form>
					
				</div>
				
			</nav>
			<div class="row content">
	  			<div class="col-sm-12">
					<div id="logo" >
						<a href="inicio"><img src="../static/imagenes/logo.png" width="40%" class="img-responsive center-block"></a>
					</div>
				</div>
			</div>
			<h1 class="text-center">
				Editar Perfil<br>
			</h1>
			<div class="container">

				<div class="row">
	                <form id="form-login" action="updateProfile" method="POST" enctype="multipart/form-data">
		                <div class="row">
			                <div class="col-md-6">
			                    <label for="nombre">Nombre:</label>
		                        <input name="nombre" type="text" name="nombre" class="form-control" placeholder="Nombre" autofocus="" required="true" autocomplete="off" value="{{nombre}}"/><br>
			 
			                    <label for="correo">Correo Electrónico:</label>
		                        <input name="correo" type="email" name="correo" class="form-control" placeholder="Correo Electrónico" required="true" autocomplete="off" value="{{correo}}"/><br>

								<label class="control-label col-sm-2" for="resumen">Imagen:</label>
								<img src="../static/imagenes/{{avatar}}" class="media-object" style="max-width: 200px; max-height: 200px"><br>
								<input type="file" name="pic" accept="image/*" required="true" autocomplete="off" value="{{avatar}}"><br>
		                    </div>

		                	<div class="col-md-6">
		                		<label for="apellido">Apellido:</label><br>
		                        <input name="apellido" type="text" name="apellido" class="form-control" placeholder="Apellido" required="true" autocomplete="off" value="{{apellido}}"/><br>

		                        <label for="apellido">Fecha de Nacimiento:</label>
		                        <input type="text" id="datepicker" name="fechaNac" class="form-control" required="true" autocomplete="off" value="{{fechaNac}}"><br>

		                        <label for="pais">País:</label>
		                        <select class="form-control" id="pais" name="pais" autocomplete="off"/><br>
								    <option>Argentina</option>
								    <option>Bolivia</option>
								    <option>Chile</option>
								    <option>Colombia</option>
								    <option>Ecuador</option>
								    <option>Paraguay</option>
								    <option>Perú</option>
								    <option>Uruguay</option>
								    <option>Venezuela</option>
								</select>			 
		 					</div>

		 				</div>
		 				<label for="descripcion">Descripción:</label>
						<textarea class="form-control" name="descripcion" placeholder="Descripción" rows="3" required="true" autocomplete="off">{{descripcion}}</textarea><br>

						<div class="row">
			                <div class="col-md-6">

								<label for="pass">Contraseña Actual:</label>
			                    <input type="password" name="password1" class="form-control" placeholder="Contraseña Actual" required="true" autocomplete="off" value="{{password}}"/></p>
							</div>
							<div class="col-md-6">
								<label for="repass">Nueva Contraseña:</label>
		                        <input type="password" name="password2" class="form-control" placeholder="Nueva Contraseña" required="true" autocomplete="off"/></p>
							</div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-success">Guardar</button>
				 			<a href="inicio"><button class="btn btn-danger">Cancelar</button></a>
				 		</div><br>
					</form>
				</div><br>
				
            </div>
        </div>
	</div>
</div>

    <script src="../static/vendor/js/jquery.min.js"></script>
    <script src="../static/vendor/js/jquery-ui.min.js"></script>    
    <script src="../static/vendor/js/bootstrap.min.js"></script>
    <script src="../static/vendor/js/scripts.js"></script>
    <script type="text/javascript">   

		$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '<Ant',
		nextText: 'Sig>',
		currentText: 'Hoy',
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);

		$(function () {
            $('#datepicker').datepicker();
            $('#modal-updated').modal('toggle');
            $("#pais").val('{{pais}}');
        });

    </script>
    <style type="text/css">
    	.ui-widget-content .ui-icon {
	    background-image: url("../static/imagenes/css_images_ui-icons_222222_256x240.png")      
	    !important;}
	    .ui-widget-header .ui-icon {
	    background-image: url("../static/imagenes/css_images_ui-icons_222222_256x240.png")   
	    !important;}

    </style>
  </body>
</html>