<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daily Planet - Editar Artículo</title>
    <link rel='shortcut icon' type='image/x-icon' href='../static/imagenes/favicon.ico'/>

    <link href="../static/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">

		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="inicio">Inicio</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="create">Crear Artículo</a>
						</li>
						<li>
							<a href="draft">Artículos por Publicar</a>
						</li>
						<li>
							<a href="favorites">Artículos Favoritos</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="profile">Perfil</a>
						</li>
						<li>
							<a href="logout">Cerrar Sesión</a>
						</li>
					</ul>
					
					<form class="navbar-form navbar-right" role="search" action="search" method="POST">
						<div class="form-group">
							<input class="form-control" type="text" name="buscar" placeholder="Búsqueda">
						</div> 
						<button type="submit" class="btn btn-default">
							Buscar
						</button>

					</form>
					
				</div>
				
			</nav>
			<div class="row content">
	  			<div class="col-sm-12">
					<div id="logo" >
						<a href="inicio"><img src="../static/imagenes/logo.png" width="40%" class="img-responsive center-block"></a>
					</div>
				</div>
			</div>
			<h1 class="text-center">
				Editar Artículo<br>
			</h1>
			<div class="container">
				<div class="row">
				
	                <form role="form" action="editar" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<label class="control-label col-sm-2" for="titulo">Título:</label>
								<input type="text" class="form-control" name="titulo" placeholder="Título" value='{{titulo}}' required="true">
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="resumen">Resumen:</label>
								<textarea class="form-control" name="resumen" placeholder="Resumen" rows="3" required="true">{{resumen}}</textarea>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="resumen">Imagen:</label>
								<img src="../static/imagenes/{{imagen}}" class="media-object" style="max-height: 240px; max-width: 500px">
							<input type="file" name="pic" accept="image/*" required="true"><br>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="titulo">Palabras Clave:</label>
								<input type="text" class="form-control" name="clave" placeholder="Palabras Clave" value='{{clave}}' required="true">
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="resumen">Contenido:</label>
								<textarea class="form-control" name="contenido" placeholder="Contenido" rows="6" required="true">{{contenido}}</textarea>

						<input type="hidden" id="id_post" name="id_post"></br>
						<div class="text-center">
							<button type="submit" class="btn btn-success">Guardar</button>
				 			<a href="draft"><button class="btn btn-danger">Cancelar</button></a>
				 		</div><br>
					</form>
				</div>
				
            </div>
        </div>
	</div>
</div>

    <script src="../static/vendor/js/jquery.min.js"></script>
    <script src="../static/vendor/js/bootstrap.min.js"></script>
    <script src="../static/vendor/js/scripts.js"></script>
    <script type="text/javascript">

    	var getUrlParameter = function getUrlParameter(sParam) {
			var sPageURL = decodeURIComponent(window.location.search.substring(1)),
			    sURLVariables = sPageURL.split('&'),
			    sParameterName,
			    i;

			for (i = 0; i < sURLVariables.length; i++) {
			    sParameterName = sURLVariables[i].split('=');

			    if (sParameterName[0] === sParam) {
			        return sParameterName[1] === undefined ? true : sParameterName[1];
			    }
			}
		};

		$(function () {
            $('#id_post').val(getUrlParameter('id'));
        });

    </script>
  </body>
</html>