<!DOCTYPE html>
<head>
	<meta content="text/html" charset="UTF-8" />
	<title>Logo del superhéroe</title>
	<!-- scripts -->
	<script src="../static/vendor/js/jquery1.11.0.min.js"></script>
	<script src="../static/vendor/js/jquery.min.js"></script>
	<script src="../static/vendor/js/bootstrap.min.js"></script>

	<!-- css-->
	<link rel="stylesheet" href="../static/vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href ="../static/vendor/css/bootstrap-theme.min.css">
	<style>
		body  {
			background-image: url("../static/vendor/heroes.jpg");
			background-repeat:no-repeat;
			background-size:cover;
		}
		h2 {
			color: white;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
	</style>
</head>
<body>
	<div class="container" style="text-align:center">
		<br/><br/><br/><br/><br/>
		<h2>¡Bienvenido {{nombre}}! Tus datos son los siguientes:</h2>
		<h2>Ruta del logotipo: {{logotipo}}</h2>
		<img src={{logotipo}} width="30%">
	</div>
</body>
</html>
